{% extends "layout.jinja2" %}
{% block content %}
    <h1>This One Expense: {{ expense.title }}</h1>
    <p><strong>Price: {{ expense.price }}</strong></p>
    <p>{{ expense.description }}</p>
{% endblock %}