<!DOCTYPE html>
<html>
    <head>
        <title>Expense Tracker | {{ page }}</title>
        <link rel="stylesheet" type="text/css" href="{{ request.static_path('expense_tracker:static/style.css') }}" />
    </head>
    <body>
    <a href="{{ request.route_url('home') }}"><button>Home</button></a>
    {% block content %}{% endblock %}
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block optional_javascript %}{% endblock %}
</html>